<!DOCTYPE html>
<html lang="en">
<head>
  <title>Portifolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="stylesheets/application.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/buttons.css">
  <link href="stylesheets/footer.css" rel="stylesheet">
  <link href="stylesheets/menu.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-b from-gray-50 to-gray-100 text-gray-900 min-h-screen flex flex-col">
  <%= render 'shared/navbar' %> <!-- This includes the partial -->

  <!-- Main Content -->
  <main class="flex-grow pt-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <%= yield %>
    </div>
  </main>
          <!-- Footer -->
        <footer>
        <%= render 'shared/footer' %> <!-- This includes the partial -->
      </footer>
</body>
</html>
